In [29]:
import numpy as np
import pandas as pd
import os
import decimal
from math import *

To determine which areas of the business should the airline company improve on that affects the return rate and satisfaction rate of its passengers.

To predict the satisfaction ratings based on the historical data available and proactively address potential satisfaction issues

## Data Cleaning

In [30]:
#Dataset
# Since K Cross Fold Validation hasn’t been executed yet in this stage, 
# then the two datasets (training, testing) will be merged into 1 dataset.

currentPath = os.getcwd() #Current working directory
testPath = currentPath.replace('FinalProject/preprocessing/cleaning','FinalProject/dataset/test.csv')
trainPath = currentPath.replace('FinalProject/preprocessing/cleaning','FinalProject/dataset/train.csv')

df = pd.read_csv(testPath)
df2 = pd.read_csv(trainPath)
finalDF = pd.concat([df, df2])
finalDF.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,44158.700000,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,31207.377062,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16234.750000,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,38963.500000,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,71433.250000,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [31]:
#Get Overview
columns = finalDF.columns
for c in columns:
    print(f'Column: {c}, NULL or NaN: {finalDF[c].isnull().values.any()}, dtype: {finalDF.dtypes[c]}') #{len(finalDF[(finalDF[c] == cond)])}

Column: Unnamed: 0, NULL or NaN: False, dtype: int64
Column: id, NULL or NaN: False, dtype: int64
Column: Gender, NULL or NaN: False, dtype: object
Column: Customer Type, NULL or NaN: False, dtype: object
Column: Age, NULL or NaN: False, dtype: int64
Column: Type of Travel, NULL or NaN: False, dtype: object
Column: Class, NULL or NaN: False, dtype: object
Column: Flight Distance, NULL or NaN: False, dtype: int64
Column: Inflight wifi service, NULL or NaN: False, dtype: int64
Column: Departure/Arrival time convenient, NULL or NaN: False, dtype: int64
Column: Ease of Online booking, NULL or NaN: False, dtype: int64
Column: Gate location, NULL or NaN: False, dtype: int64
Column: Food and drink, NULL or NaN: False, dtype: int64
Column: Online boarding, NULL or NaN: False, dtype: int64
Column: Seat comfort, NULL or NaN: False, dtype: int64
Column: Inflight entertainment, NULL or NaN: False, dtype: int64
Column: On-board service, NULL or NaN: False, dtype: int64
Column: Leg room service, NULL or NaN: False, dtype: int64
Column: Baggage handling, NULL or NaN: False, dtype: int64
Column: Checkin service, NULL or NaN: False, dtype: int64
Column: Inflight service, NULL or NaN: False, dtype: int64
Column: Cleanliness, NULL or NaN: False, dtype: int64
Column: Departure Delay in Minutes, NULL or NaN: False, dtype: int64
Column: Arrival Delay in Minutes, NULL or NaN: True, dtype: float64
Column: satisfaction, NULL or NaN: False, dtype: object

In [32]:
# Remove the “Unnamed, 0” column from the dataset.
finalDF = finalDF.drop(columns = ['Unnamed: 0'])
finalDF.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [33]:
# Convert rows’ “Age” column’s data type into an integer.
newDF = finalDF.astype({"Age" : int})
newDF['Age'].dtypes

dtype('int64')

In [34]:
# Rows with an Age value of 0 or with a float type will be removed from the dataset.

newDF = finalDF[(finalDF['Age'] > 0) & (type(finalDF['Age']) != 'float')]
newDF = newDF.astype({'Age' : int})
newDF['Age']

0         52
1         36
2         20
3         44
4         49
          ..
103899    23
103900    49
103901    30
103902    22
103903    27
Name: Age, Length: 129880, dtype: int64

In [35]:
# Rows with nan or Null values in any of their column will be removed from the dataset.



print(f'Rows Before dropping NaN or Null values: {len(newDF)}')

newDF.dropna(axis = 0, how='any', inplace = True)

print(f'Rows after dropping NaN or Null values: {len(newDF)}')

Rows Before dropping NaN or Null values: 129880
Rows after dropping NaN or Null values: 129487

In [ ]:
''' 
 Rows with the same “id” column value will be identified. 
 Rows with identical “id” column values will have their ages to be nan or Null. 
 These rows will then be merged into 1 row by using the average 
 of their other features as the new values for the merged row.
'''

dfColumns = newDF.columns
newDF2 = pd.DataFrame(index=[], columns=dfColumns) #Cleaned dataframe from sample

#Setting new index
newDF.set_index('id', inplace=True)

array = []
dfArray = []
restrictedVariables = ['Gender', 'Customer Type', 'Type of Travel', 'Class']

#Main operation
#Selecting row
for index, row in newDF.iterrows():
    if index in array:
        pass
    else:
        array.append(index)
        dup = newDF[newDF.index == index]
        dfArray.append(dup)
        


for df in dfArray:
    if len(df) > 1:    
        rowHashmap = {}
        index = df.index[0]
        for variable in df:
            #Get Mean of the Variable and append to hashmap
            value = ceil(df[variable].mean())
            rowHashmap.update({'id' : index, variable : [value]})

        #Make new Dataframe row
        print(f'DF of {index}: {rowHashmap}')
        converted = pd.DataFrame.from_dict(rowHashmap)
        conv = pd.DataFrame(rowHashmap, index=[index])
        newDF2 = pd.concat([newDF2, conv])
    else:
        pass
    
if len(newDF2) == 0:
    newDF2 = newDF
else:
    #Remove all rows with duplicate "id" value
    newDF = newDF.drop_duplicates(subset='id', keep = False)
    
    #concatenate the two Dataframes
    newDF2 = pd.concat([newDF2, newDF])
    

print(f'Length of new Dataframe: {len(newDF2)}')
newDF2.describe()

In [ ]:
#Demo

#sample = Sample of a main Dataframe
sample = pd.DataFrame(np.random.randint(low = 0, high = 5, size=(7, 4)), index=[0, 1, 2, 3, 4, 5, 6], columns = 'id Desire Lust Power'.split())
dfColumns = sample.columns
newDF = pd.DataFrame(index=[], columns=dfColumns) #Cleaned dataframe from sample
print(sample)

#Setting new index
sample.set_index('id', inplace=True)
    
print('\n')

array = []
dfArray = []

#Main operation
#Selecting row
for index, row in sample.iterrows():
    if index in array:
        pass
    else:
        array.append(index)
        dup = sample[sample.index == index]
        dfArray.append(dup)
        
for df in dfArray:
    if len(df) > 1:    
        rowHashmap = {}
        index = df.index[0]
        for variable in df:
            #Get Mean of the Variable and append to hashmap
            value = ceil(df[variable].mean())
            rowHashmap.update({'id' : index, variable : [value]})

        #Make new Dataframe row
        print(f'DF of {index}: {rowHashmap}')
        converted = pd.DataFrame.from_dict(rowHashmap)
        conv = pd.DataFrame(rowHashmap, index=[index])
        newDF = pd.concat([newDF, conv])
    else:
        pass
    
print(newDF)

## Data Exploration